body{margin:0;padding:0;font:.8em/1.6 Verdana, Arial, sans-serif;text-align:center;background-color:#e6e6e6}
#container{margin:1em auto 0 auto;text-align:left;width:960px;background-color:white;display: flex}
#footer-container{margin:0 auto 1em auto;text-align:left;width:960px;background-color:white;display: flex}

a{color:#09f;text-decoration:none}
a:hover{color:#059;text-decoration:none}
a.new{color:#c00}
a.new:hover{color:#900}

#clear{display:block;clear:both}

#main{clear:both;padding:35px 35px 35px 35px;}
#sidebar{background: white; height: 900px;padding: 40px 35px 30px 40px;border-right:1px solid #eee}
#content{padding-bottom:10px;padding-top:10px;}
#footer{background: white; width:1000px;text-align:center;font-size:.8em;padding:20px 0;border-top:1px solid #eee}

p#title, h1, h2, h3, h4, h5, h6{font-family:"Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif}
p#title{font-size:30px;margin-top:.5em;font-weight:bold}
p#title a, p#title a:hover{color:#09f;text-decoration:none}

#sidebar ul.author-urls{list-style:none !important;padding: 0 0 0 1px;}
#sidebar li{padding: 10px 0 0 0;}
#sidebar a{color: black;}

#toc{border-top:1px solid #eee;margin:20px 0 0;padding:20px 0 0;font-size:.95em}
#toc h3{margin:0 0 0 10px;font-size:1.3em}
#toc ul, #toc li{margin:0;padding:0;list-style:none;}
#toc li{margin:5px 0}
#toc ul{margin-left:15px}

form label{display:block;margin:0 0 5px 0}
form input{font-size:22px;width:100%;display:block}
form textarea{width:100%;height:260px;font-family:monospace}
form button{padding:5px 25px;margin-right:5px}
form div.edit-block{padding:1em 0}


.tg {border-collapse:collapse;border-spacing:0;margin-left:auto;margin-right:auto;}
.tg td, .tg  th { border: 1px solid #ddd; padding: 4px; }
.tg tr:nth-child(even){background-color: #f2f2f2;}
.tg tr:hover {background-color: #ddd;}
.tg th {padding-top: 8px; padding-bottom: 8px; text-align: left; background-color: gray; color: white;}
.tg th:nth-child(5), td:nth-child(5) { display: none }

.vl {
    border-left: 1px solid lightgrey;
    height: 80px;
    margin-left: 8px;
    margin-bottom: 5px;
    display: inline-block;
}

.purple_label{
    background-color: #552583;
    border-radius: 50px;
    text-align:center;
    color:white;
    display: inline;
    font-size: x-small;
    padding: 3px 3px 5px 5px;
}

.green_label{
    background-color: #3d7a7a;
    border-radius: 50px;
    text-align:center;
    color:white;
    display: inline;
    font-size: x-small;
    padding: 3px 3px 5px 5px;
}

.gray_label{
    background-color: #555555;
    border-radius: 50px;
    text-align:center;
    color:white;
    display: inline;
    font-size: x-small;
    padding: 3px 3px 5px 5px;
}

.blue_label{
    background-color: #3e83aa;
    border-radius: 50px;
    text-align:center;
    color:white;
    display: inline;
    font-size: x-small;
    padding: 3px 3px 5px 5px;
}

.red_label{
    background-color: #9f262c;
    border-radius: 50px;
    text-align:center;
    color:white;
    display: inline;
    font-size: x-small;
    padding: 3px 3px 5px 5px;
}

.light_blue_label{
    background-color: #aec0fb;
    border-radius: 50px;
    text-align:center;
    display: inline;
    font-size: x-small;
    padding: 3px 3px 5px 5px;
}

.light_green_label{
    background-color: #bfe1e2;
    border-radius: 50px;
    text-align:center;
    display: inline;
    font-size: x-small;
    padding: 3px 3px 5px 5px;
}

.dark_gray_label{
    background-color: #cccccc;
    border-radius: 50px;
    text-align:center;
    display: inline;
    font-size: x-small;
    padding: 3px 3px 5px 5px;
}

.dark_blue_label{
    background-color: #1f0a4c;
    border-radius: 50px;
    text-align:center;
    color:white;
    display: inline;
    font-size: x-small;
    padding: 3px 3px 5px 5px;
}

.dark_pink_label{
    background-color: #e8ac92;
    border-radius: 50px;
    text-align:center;
    display: inline;
    font-size: x-small;
    padding: 3px 3px 5px 5px;
}